.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/nbproject/
/config.ini

application/databases/*
!application/databases/index.html

application/views/whatsapp_xtract_output/*
!application/views/whatsapp_xtract_output/index.html